<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conference planner : Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="./assets/main.css">
</head>
<body>
<div class="section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-4 is-offset-4">
                <h1 class="title">
                    Register an Account
                </h1>
                <div class="box">
                    <label class="label">Username</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="jsmith">
                    </p>

                    <label class="label">Tweet name</label>
                    <div class="field has-addons">
                        <p class="control">
                            <a class="button is-static">
                                @
                            </a>
                        </p>
                        <p class="control">
                            <input class="input" type="text" placeholder="jsm">
                        </p>
                    </div>

                    <label class="label">Picture*</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="https://graphql.org/image/lee-byron.jpg">
                    </p>
                    <label class="label">Email*</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="jsmith@example.org">
                    </p>
                    <hr>
                    <label class="label">Password*</label>
                    <p class="control">
                        <input class="input" type="password" placeholder="●●●●●●●">
                    </p>
                    <label class="label">Confirm Password*</label>
                    <p class="control">
                        <input class="input" type="password" placeholder="●●●●●●●">
                    </p>
                    <hr>
                    <label class="label">Bio*</label>
                    <p class="control">
                        <textarea class="textarea" placeholder="Hi">

                        </textarea>
                    </p>
                    <hr>
                    <p class="control">
                        <button class="button is-info is-outlined is-large is-fullwidth">Register</button>                    </p>
                </div>
                <div class="section forgot-password">
                    <p class="has-text-centered">
                        <a href="authentication.login.html">Login</a>
                        <a href="#">Need help?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>