<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conference planner : conference details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="./assets/main.css">
</head>
<body>
<div class="section product-header">
    <div class="container">
        <div class="columns">
            <div class="column">
                  <span class="title is-3">
                     <!--Name of conference-->
                     Conferences
                  </span>
                <span class="title is-3 has-text-muted">&nbsp;|&nbsp;</span>
                <span class="title is-4 has-text-muted">
                     <!--Conference city-->
                     Management
                  </span>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Name</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="Text input">
                    </p>
                </div>
                <div class="field">
                    <label class="label">Country</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="Text input">
                    </p>
                </div>
                <div class="field">
                    <label class="label">City</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="Text input">
                    </p>
                </div>
                <div class="field">
                    <label class="label">Start Date</label>
                    <p class="control">
                        <input class="input" type="date" placeholder="Text input">
                    </p>
                </div>
                <div class="field is-grouped">
                    <p class="control">
                        <button class="button is-primary">Submit</button>
                    </p>
                    <p class="control">
                        <button class="button is-link">Cancel</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>