<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conference planner : conference details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="./assets/main.css">
</head>
<body>
<div class="section product-header">
    <div class="container">
        <div class="columns">
            <div class="column">
                  <span class="title is-3">
                     <!--Name of conference-->
                     GraphQL-Europe
                  </span>
                <span class="title is-3 has-text-muted">&nbsp;|&nbsp;</span>
                <span class="title is-4 has-text-muted">
                     <!--Conference city-->
                     Berlin
                  </span>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <nav class="level is-mobile">
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Speakers</p>
                            <p class="title">12</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Attendees</p>
                            <p class="title">456K</p>
                        </div>
                    </div>
                    <div class="level-item has-text-centered">
                        <div>
                            <p class="heading">Sponsors</p>
                            <p class="title">10</p>
                        </div>
                    </div>
                </nav>
                <p class="title is-3 has-text-muted">
                    <!--Conference description-->
                    GraphQL-Europe is a non-profit GraphQL conference in Europe with speakers
                    from all around the world. Learn about GraphQL best practices from industry experts
                    and become part of the thriving GraphQL community.
                </p>
                <hr>
                <!-- Talks -->
                <p class="title is-4">
                    Talks :
                </p>
                <div class="columns">
                    <div class="column is-6">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">GraphQL: Evolution or Revolution?</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.lor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    <hr>
                                    <div class="columns">
                                        <div class="column is-6">
                                            <small> Room: 12A</small>
                                        </div>
                                        <div class="column is-6">
                                            <small> Starts at: 12:00 am</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <p class="title is-4">
                    Speakers :
                </p>
                <!--Conference speakers-->

                <div class="columns">
                    <div class="column is-3">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="https://graphql-europe.org/assets/image/speakers/lee-byron.jpg" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">Lee Byron</p>
                                        <p class="subtitle is-6">@leebyron</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="https://graphql-europe.org/assets/image/speakers/lee-byron.jpg" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">Lee Byron</p>
                                        <p class="subtitle is-6">@leebyron</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="https://graphql-europe.org/assets/image/speakers/lee-byron.jpg" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">Lee Byron</p>
                                        <p class="subtitle is-6">@leebyron</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="https://graphql-europe.org/assets/image/speakers/lee-byron.jpg" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">Lee Byron</p>
                                        <p class="subtitle is-6">@leebyron</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-3">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="https://graphql-europe.org/assets/image/speakers/lee-byron.jpg" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">Lee Byron</p>
                                        <p class="subtitle is-6">@leebyron</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="https://graphql-europe.org/assets/image/speakers/lee-byron.jpg" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">Lee Byron</p>
                                        <p class="subtitle is-6">@leebyron</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="https://graphql-europe.org/assets/image/speakers/lee-byron.jpg" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">Lee Byron</p>
                                        <p class="subtitle is-6">@leebyron</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="https://graphql-europe.org/assets/image/speakers/lee-byron.jpg" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">Lee Byron</p>
                                        <p class="subtitle is-6">@leebyron</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!--Conference sponsors-->
                <p class="title is-4 is-spaced">
                    Sponsors :
                </p>
                <!--Conference sponsors : GOLD-->
                <p class="subtitle is-5">GOLD</p>
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="https://graphql-europe.org/assets/image/sponsor/commercetools.svg"
                                     alt="Image"/>
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>commercetools</strong>
                                    <br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <!--Conference sponsors : SILVER-->
                <p class="subtitle is-5">SILVER</p>
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="https://graphql-europe.org/assets/image/sponsor/intuit.svg"
                                     alt="Image"/>
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Intuit</strong>
                                    <br>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <!--Conference sponsors : BRONZE-->
                <p class="subtitle is-5">BRONZE</p>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
</html>