<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conference planner : conference details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="./assets/main.css">
</head>
<body>
<div class="section product-header">
    <div class="container">
        <div class="columns">
            <div class="column">
            <span class="title is-3">
              <!--Name of conference-->
              Conferences
            </span>
                <span class="title is-3 has-text-muted">&nbsp;|&nbsp;</span>
                <span class="title is-4 has-text-muted">
              <!--Conference city-->
              Management
            </span>
                <span class="title is-3 has-text-muted">&nbsp;|&nbsp;</span>
                <span class="title is-4 has-text-muted">
              <!--Conference city-->
              Add speakers
            </span>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4 ">
                <nav class="panel">
                    <p class="panel-heading">
                        Speaker List
                    </p>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fa fa-user"></i>
                        </span>
                        <!--Display ID speaker and his name-->
                        ID- Lee Byron
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fa fa-user"></i>
                        </span>
                        <!--Display ID speaker and his name-->
                        ID- Lee Byron
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fa fa-user"></i>
                        </span>
                        <!--Display ID speaker and his name-->
                        ID- Lee Byron
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fa fa-user"></i>
                        </span>
                        <!--Display ID speaker and his name-->
                        ID- Lee Byron
                    </a>
                </nav>
            </div>
            <div class="column is-4 is-offset-2">
                <nav class="panel">
                    <p class="panel-heading">
                        Conference Speakers
                    </p>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fa fa-check"></i>
                        </span>
                        <!--Display ID speaker and his name-->
                        ID- Gerard Sans
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fa fa-check"></i>
                        </span>
                        <!--Display ID speaker and his name-->
                        ID- Gerard Sans
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fa fa-check"></i>
                        </span>
                        <!--Display ID speaker and his name-->
                        ID- Gerard Sans
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fa fa-check"></i>
                        </span>
                        <!--Display ID speaker and his name-->
                        ID- Gerard Sans
                    </a>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>