<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conference planner : conference details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="./assets/main.css">
</head>
<body>
<div class="section product-header">
    <div class="container">
        <div class="columns">
            <div class="column">
                  <span class="title is-3">
                     <!--Name of conference-->
                     Conferences
                  </span>
                <span class="title is-3 has-text-muted">&nbsp;|&nbsp;</span>
                <span class="title is-4 has-text-muted">
                     <!--Conference city-->
                     Management
                </span>
                <span class="title is-4 is-info is-pulled-right ">
                    <a class="icon is-large ">
                      <i class="fa fa-plus-circle"></i>
                    </a>
                </span>
            </div>
            </div>
        </div>
    </div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <table class="table">
                    <thead>
                    <tr>
                        <th><abbr title="ID">ID</abbr></th>
                        <th>Name</th>
                        <th><abbr title="City">City</abbr></th>
                        <th><abbr title="Country">Country</abbr></th>
                        <th><abbr title="Start Date">Start Date</abbr></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th><abbr title="ID">ID</abbr></th>
                        <th>Name</th>
                        <th><abbr title="City">City</abbr></th>
                        <th><abbr title="Country">Country</abbr></th>
                        <th><abbr title="Start Date">Start Date</abbr></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr>
                        <th>1</th>
                        <td>
                            <a href="https://graphql-europe.org/" title="GraphQL Europe">
                                GraphQL Europe
                            </a>
                        </td>
                        <td>Berlin</td>
                        <td>Germany</td>
                        <td>May 21st, 2017</td>
                        <td>
                            <a class="button is-info is-outlined">Add speakers</a>
                        </td>
                        <td>
                            <a class="button is-primary is-outlined">Edit</a>
                        </td>
                        <td>
                            <a class="button is-danger is-outlined">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>
                            <a href="https://graphql-europe.org/" title="GraphQL Europe">
                                GraphQL Europe
                            </a>
                        </td>
                        <td>Berlin</td>
                        <td>Germany</td>
                        <td>May 21st, 2017</td>
                        <td>
                            <a class="button is-info is-outlined">Add speakers</a>
                        </td>
                        <td>
                            <a class="button is-primary is-outlined">Edit</a>
                        </td>
                        <td>
                            <a class="button is-danger is-outlined">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>
                            <a href="https://graphql-europe.org/" title="GraphQL Europe">
                                GraphQL Europe
                            </a>
                        </td>
                        <td>Berlin</td>
                        <td>Germany</td>
                        <td>May 21st, 2017</td>
                        <td>
                            <a class="button is-info is-outlined">Add speakers</a>
                        </td>
                        <td>
                            <a class="button is-primary is-outlined">Edit</a>
                        </td>
                        <td>
                            <a class="button is-danger is-outlined">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <th>1</th>
                        <td>
                            <a href="https://graphql-europe.org/" title="GraphQL Europe">
                                GraphQL Europe
                            </a>
                        </td>
                        <td>Berlin</td>
                        <td>Germany</td>
                        <td>May 21st, 2017</td>
                        <td>
                            <a class="button is-info is-outlined">Add speakers</a>
                        </td>
                        <td>
                            <a class="button is-primary is-outlined">Edit</a>
                        </td>
                        <td>
                            <a class="button is-danger is-outlined">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav class="pagination">
                    <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
                    <a class="pagination-next">Next page</a>
                    <ul class="pagination-list">
                        <li>
                            <a class="pagination-link is-current">1</a>
                        </li>
                        <li>
                            <a class="pagination-link">2</a>
                        </li>
                        <li>
                            <a class="pagination-link">3</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>