<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conference planner </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="./assets/main.css">
</head>
<body>
<div class="container section">


    <div class="columns section">

        <div class="column is-8">
            <div class="title">Conferences</div>
        </div>

    </div>

    <div class="columns">

        <div class="column is-4">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        <!--Country code (iso 3 letters in lowercase)-->
                        <img src="https://restcountries.eu/data/deu.svg" class="avatar" alt="Conference country">
                        <!--Name of conference-->
                        GraphQL-Europe
                    </p>
                    <span class="card-header-icon timestamp">
                        <!--Conference city-->
                      Berlin
                    </span>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <!--Conference logo-->
                        <img src="https://graphql-europe.org/assets/image/logo.svg" alt="Conference logo">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="panel-block-item">
                      <span class="likes">
                        <span class="icon">
                          <i class="fa fa-calendar"></i>
                        </span>
                          <!--Conference startDate-->
                        May 21st, 2017
                      </span>
                        <span class="comments">
                            <span class="icon">
                              <i class="fa  fa-users"></i>
                            </span>
                            <!--Number of attendee conference-->
                        12k attendees
                      </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        <!--Country code (iso 3 letters in lowercase)-->
                        <img src="https://restcountries.eu/data/fra.svg" class="avatar" alt="Conference country">
                        <!--Name of conference-->
                        ReactEurope
                    </p>
                    <span class="card-header-icon timestamp">
                        <!--Conference city-->
                      Paris
                    </span>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <!--Conference logo-->
                        <img src="https://www.react-europe.org/images/reacteurope.png" alt="Conference logo">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="panel-block-item">
                      <span class="likes">
                        <span class="icon">
                          <i class="fa fa-calendar"></i>
                        </span>
                          <!--Conference startDate-->
                          May 16th, 2017
                      </span>
                        <span class="comments">
                            <span class="icon">
                              <i class="fa  fa-users"></i>
                            </span>
                            <!--Number of attendee conference-->
                        12k attendees
                      </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        <!--Country code (iso 3 letters in lowercase)-->
                        <img src="https://restcountries.eu/data/usa.svg" class="avatar" alt="Conference country">
                        <!--Name of conference-->
                        NG-Conf
                    </p>
                    <span class="card-header-icon timestamp">
                        <!--Conference city-->
                      Salt Lake City, UT
                    </span>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <!--Conference logo-->
                        <img src="https://cdn-images-1.medium.com/max/1200/1*2j7MOWb0s5pZpQLu7d-5CQ.png" alt="Conference logo">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="panel-block-item">
                      <span class="likes">
                        <span class="icon">
                          <i class="fa fa-calendar"></i>
                        </span>
                          <!--Conference startDate-->
                        April 5th, 2017
                      </span>
                        <span class="comments">
                            <span class="icon">
                              <i class="fa  fa-users"></i>
                            </span>
                            <!--Number of attendee conference-->
                        12k attendees
                      </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="columns">

        <div class="column is-4">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        <!--Country code (iso 3 letters in lowercase)-->
                        <img src="https://restcountries.eu/data/deu.svg" class="avatar" alt="Conference country">
                        <!--Name of conference-->
                        GraphQL-Europe
                    </p>
                    <span class="card-header-icon timestamp">
                        <!--Conference city-->
                      Berlin
                    </span>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <!--Conference logo-->
                        <img src="https://graphql-europe.org/assets/image/logo.svg" alt="Conference logo">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="panel-block-item">
                      <span class="likes">
                        <span class="icon">
                          <i class="fa fa-calendar"></i>
                        </span>
                          <!--Conference startDate-->
                        May 21st, 2017
                      </span>
                        <span class="comments">
                            <span class="icon">
                              <i class="fa  fa-users"></i>
                            </span>
                            <!--Number of attendee conference-->
                        12k attendees
                      </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        <!--Country code (iso 3 letters in lowercase)-->
                        <img src="https://restcountries.eu/data/fra.svg" class="avatar" alt="Conference country">
                        <!--Name of conference-->
                        ReactEurope
                    </p>
                    <span class="card-header-icon timestamp">
                        <!--Conference city-->
                      Paris
                    </span>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <!--Conference logo-->
                        <img src="https://www.react-europe.org/images/reacteurope.png" alt="Conference logo">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="panel-block-item">
                      <span class="likes">
                        <span class="icon">
                          <i class="fa fa-calendar"></i>
                        </span>
                          <!--Conference startDate-->
                          May 16th, 2017
                      </span>
                        <span class="comments">
                            <span class="icon">
                              <i class="fa  fa-users"></i>
                            </span>
                            <!--Number of attendee conference-->
                        12k attendees
                      </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-4">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        <!--Country code (iso 3 letters in lowercase)-->
                        <img src="https://restcountries.eu/data/usa.svg" class="avatar" alt="Conference country">
                        <!--Name of conference-->
                        NG-Conf
                    </p>
                    <span class="card-header-icon timestamp">
                        <!--Conference city-->
                      Salt Lake City, UT
                    </span>
                </header>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <!--Conference logo-->
                        <img src="https://cdn-images-1.medium.com/max/1200/1*2j7MOWb0s5pZpQLu7d-5CQ.png" alt="Conference logo">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="panel-block-item">
                      <span class="likes">
                        <span class="icon">
                          <i class="fa fa-calendar"></i>
                        </span>
                          <!--Conference startDate-->
                        April 5th, 2017
                      </span>
                        <span class="comments">
                            <span class="icon">
                              <i class="fa  fa-users"></i>
                            </span>
                            <!--Number of attendee conference-->
                        12k attendees
                      </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>