<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conference planner : conference details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="./assets/main.css">
</head>
<body>
<div class="section product-header">
    <div class="container">
        <div class="columns">
            <div class="column">
                  <span class="title is-3">
                     <!--Name of speaker-->
                     Bouba
                  </span>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <p class="title is-3 has-text-muted">
                    <!--bio-->
                    I'm fun, smart and very talented <br>
                </p>
                <hr>

                <!--Speaker talks-->
                <p class="title is-4">
                    Talks :
                </p>
                <div class="columns">
                    <div class="column is-6">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">GraphQL: Evolution or Revolution?</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.lor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    <hr>
                                    <div class="columns">
                                        <div class="column is-6">
                                            <small> Room: 12A</small>
                                        </div>
                                        <div class="column is-6">
                                            <small> Starts at: 12:00 am</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">GraphQL: Evolution or Revolution?</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.lor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    <hr>
                                    <div class="columns">
                                        <div class="column is-6">
                                            <small> Room: 12A</small>
                                        </div>
                                        <div class="column is-6">
                                            <small> Starts at: 12:00 am</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>