<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conference planner : conference details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" id="bulma" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="./assets/main.css">
</head>
<body>
<div class="section product-header">
    <div class="container">
        <div class="columns">
            <div class="column">
                  <span class="title is-3">
                     <!--Name of talk-->
                     GraphCOOL IS cool
                  </span>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <span class="subtitle is-6">Room: 16A</span>
                <span class="subtitle is-6 has-text-muted">&nbsp;|&nbsp;</span>
                <span class="subtitle is-6">Start at: 13:00</span>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <p class="title is-3 has-text-muted">
                    <!--talk description-->
                    GraphQL-Europe is a non-profit GraphQL conference in Europe with speakers
                    from all around the world. Learn about GraphQL best practices from industry experts
                    and become part of the thriving GraphQL community.
                </p>
                <hr>
                <p class="title is-4">
                    Speaker :
                </p>
                <!--Talk speaker-->

                <div class="columns">
                    <div class="column is-3">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="https://graphql-europe.org/assets/image/speakers/lee-byron.jpg" alt="Image">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">Lee Byron</p>
                                        <p class="subtitle is-6">@leebyron</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>