<cp-page-header
  [headers]="[conference?.name, conference?.city]"
></cp-page-header>
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <cp-conference-details-level
          [attendeesCount]="conference?.attendeesCount?.count || 0"
          [sponsorsCount]="conference?.sponsorsCount?.count || 0"
          [speakersCount]="conference?.speakerCount"
        ></cp-conference-details-level>
        <p class="title is-3 has-text-muted">
          <!--Conference description-->
          {{conference?.description}}
        </p>
        <hr>
        <br>
        <p class="title is-4">
          Talks :
        </p>
        <!--Conference talks-->

        <div class="columns" *ngFor="let talkChunks of conference?.talks">
          <div class="column is-6" *ngFor="let talk of talkChunks">
            <cp-talk-card
              [talk]="talk"
            ></cp-talk-card>
          </div>
        </div>
        <hr>

        <p class="title is-4">
          Speakers :
        </p>

        <!--Conference Speakers-->
        <div class="columns" *ngFor="let speakersChunk of conference?.speakers">
          <div class="column is-6" *ngFor="let speaker of speakersChunk">
            <cp-speaker-card
              [speaker]="speaker"
            ></cp-speaker-card>
          </div>
        </div>
        <hr>
        <!--Conference sponsors-->
        <p class="title is-4 is-spaced">
          Sponsors :
        </p>
        <!--Conference sponsors : GOLD-->
        <p class="subtitle is-5">GOLD</p>
        <cp-sponsor-box
          *ngFor="let sponsor of conference?.goldSponsors"
          [picture]="sponsor.entreprise?.logo"
          [name]="sponsor.entreprise?.name"
          [description]="sponsor.entreprise?.description"
        ></cp-sponsor-box>
        <br>
        <!--Conference sponsors : SILVER-->
        <p class="subtitle is-5">SILVER</p>
        <cp-sponsor-box
          *ngFor="let sponsor of conference?.silverSponsors"
          [picture]="sponsor.entreprise?.logo"
          [name]="sponsor.entreprise?.name"
          [description]="sponsor.entreprise?.description"
        ></cp-sponsor-box>
        <br>
        <!--Conference sponsors : BRONZE-->
        <p class="subtitle is-5">BRONZE</p>
        <cp-sponsor-box
          *ngFor="let sponsor of conference?.bronzeSponsors"
          [picture]="sponsor.entreprise?.logo"
          [name]="sponsor.entreprise?.name"
          [description]="sponsor.entreprise?.description"
        ></cp-sponsor-box>
        <br>
      </div>
    </div>
  </div>
</div>
