<form
  [formGroup]="registerForm"
  class="container">
  <div class="columns is-vcentered">
    <div class="column is-4 is-offset-4">
      <h1 class="title">
        Register an Account
      </h1>
      <div class="box">
        <label class="label">Username*</label>
        <p class="control">
          <input
            class="input"
            [class.is-danger]="registerForm.get('username').invalid &&
            registerForm.get('username').dirty"
            type="text"
            placeholder="jsmith"
            formControlName="username"
            required
          />
        </p>
        <label class="label">Tweet handle*</label>
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              @
            </a>
          </p>
          <p class="control">
            <input
              class="input"
              [class.is-danger]="registerForm.get('publicName').invalid &&
            registerForm.get('publicName').dirty"
              type="text"
              placeholder="jsm"
              required
              formControlName="publicName"
            />
          </p>
        </div>
        <label class="label">Picture*</label>
        <p class="control">
          <input
            class="input"
            [class.is-danger]="registerForm.get('picture').invalid &&
            registerForm.get('picture').dirty"
            type="text"
            placeholder="https://graphql.org/image/lee-byron.jpg"
            required
            formControlName="picture"
          />
        </p>
        <label class="label">Email*</label>
        <p class="control">
          <input
            class="input"
            [class.is-danger]="registerForm.get('email').invalid &&
            registerForm.get('email').dirty"
            type="email"
            placeholder="jsmith@example.org"
            required
            formControlName="email"
          />
        </p>
        <hr/>
        <label class="label">Password*</label>
        <p class="control">
          <input
            class="input"
            [class.is-danger]="registerForm.get('password').invalid &&
            registerForm.get('password').dirty"
            type="password"
            placeholder="●●●●●●●"
            formControlName="password"
            required
          />
        </p>
        <label class="label">Confirm Password*</label>
        <p class="control">
          <input
            class="input"
            [class.is-danger]="registerForm.get('passwordConfirmation').invalid &&
            registerForm.get('passwordConfirmation').dirty"
            type="password"
            placeholder="●●●●●●●"
            formControlName="passwordConfirmation"
            required
          />
        </p>
        <hr/>
        <label class="label">Bio*</label>
        <p class="control">
          <textarea
            class="textarea"
            [class.is-danger]="registerForm.get('bio').invalid &&
            registerForm.get('bio').dirty"
            placeholder="Hi"
            formControlName="bio"
            required
          >
          </textarea>
        </p>
        <hr/>
        <p *ngIf="alreadyExist">
          User is already exist in database
        </p>
        <p class="control">
          <button
            class="button is-outlined is-large is-fullwidth"
            [disabled]="registerForm.invalid"
            [class.is-danger]="registerForm.invalid"
            [class.is-info]="registerForm.valid"
            (click)="submit()"
          >Register
          </button>
        </p>
      </div>
      <div class="section forgot-password">
        <p class="has-text-centered">
          <a routerLink="/authentication/login">Login</a>
        </p>
      </div>
    </div>
  </div>
</form>
