<cp-page-header
  [headers]="['Conferences', 'Management', 'Add or remove talks on conference']"
>
</cp-page-header>

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4 ">
        <nav class="panel">
          <p class="panel-heading">
            Talk List
          </p>
          <cp-talk-row
            *ngFor="let talk of talks"
            [attending]="false"
            [talk]="talk"
            [onClick]="addTalk"
          >
          </cp-talk-row>

        </nav>
      </div>
      <div class="column is-4 is-offset-2">
        <nav class="panel">
          <p class="panel-heading">
            Conference Talks
          </p>
          <cp-talk-row
            *ngFor="let talk of talksOnConference"
            [attending]="true"
            [talk]="talk"
            [onClick]="deleteTalk"
          >
          </cp-talk-row>

          <a class="panel-block" *ngIf="!talksOnConference?.length">
            No talks yet on this conference
          </a>

        </nav>
      </div>
    </div>
  </div>
</div>
